# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/.angular

/frontend/node_modules
/backend/node_modules
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/pnpm-debug.log*
/backend/lerna-debug.log*
/backend/.env
/backend/uploads
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.md
!README.md
!GEMINI.md
!AGENTS.md
# Stop gitignore errors
!README.md
!**/README.md
*.md
!README.md
!GEMINI.md
!AGENTS.md
